
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col">
      <div class="field form-group">
        <label>Nome Completo</label>
        <%= form.text_field :fullname, class: "form-control", :required => true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="field form-group">
        <label>E-mail</label>
        <%= form.text_field :email, class: "form-control", :required => true, :type  => :email %>
      </div>
    </div>
    <div class="col">
      <div class="field form-group">
        <label>Telefone</label>
        <%= form.text_field :phone, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="field form-group">
        <label>Endereço</label>
        <%= form.text_field :address, class: "form-control" %>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <label>Número</label>
        <%= form.text_field :number, class: "form-control" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <div class="field form-group">
        <label>Bairro</label>
        <%= form.text_field :district, class: "form-control" %>
      </div>
    </div>
    <div class="col">
      <div class="field form-group">
        <label>Cidade</label>
        <%= form.text_field :city, class: "form-control" %>
      </div>
    </div>
    <div class="col">
      <div class="field form-group">
        <label>Estado</label>
        <%= form.text_field :state , class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="actions">
        <%= form.submit "salvar", class: "btn btn-success" %>
        <%= link_to 'Voltar', users_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>