<div class="container-fluid">
    <div class="row">
        <div class="col-8 mx-auto">
          <h1>Visualizar Usuário</h1>
          <br>
          <p id="notice"><%= notice %></p>

          <p>
            <strong>Nome Completo:</strong>
            <%= @user.fullname %>
          </p>

          <p>
            <strong>E-mail:</strong>
            <%= @user.email %>
          </p>

          <p>
            <strong>Telefone:</strong>
            <%= @user.phone %>
          </p>

          <p>
            <strong>Endereço:</strong>
            <%= @user.address %>
          </p>

          <p>
            <strong>Número:</strong>
            <%= @user.number %>
          </p>

          <p>
            <strong>Bairro:</strong>
            <%= @user.district %>
          </p>

          <p>
            <strong>Cidade:</strong>
            <%= @user.city %>
          </p>

          <p>
            <strong>Estado:</strong>
            <%= @user.state %>
          </p>

          <%= link_to 'Editar', edit_user_path(@user), class: "btn btn-warning" %>
          <%= link_to 'Voltar', users_path, class: "btn btn-primary"%>
        </div>
    </div>
</div>